# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración local
.env
config_local.php

# Dependencias
/vendor/

# Logs
*.log

# Archivos temporales
*.tmp
*.bak

# IDE
.vscode/
.idea/

# Base de datos exportada temporal
*.sql
